.active-friends{
    // border-bottom: 1px solid #ccc;
    // background-color: aqua;
    flex-direction: row;
    // height: 60px;
    min-height: 0px;
    display: flex;
     .active-friend{
         overflow: hidden;
         .image-active-icon{
             overflow-x: scroll;
             display: flex;
             cursor: pointer;
             &::-webkit-scrollbar{
                 overflow: hidden;
             }
             .image{
                 margin: 5px;
                 position: relative;
                 margin-bottom: 15px;
                 img{
                     width: 38px;
                     height: 38px;
                     border-radius: 100%;
                     border: 0.7px solid #d8d8d8;
                     object-fit: cover;
                 }
                 .active-icon{
                     position: absolute;
                     bottom: 1px;
                     right: 3px;
                     width: 13px;
                     height: 13px;
                     border-radius: 50%;
                     background-color: #1bdf35;
                     border: 2px solid var(--active-icon-border);
                 }
             }
         }
     }
 }